.headSearch{
  display: grid;

  grid-template-columns: 3fr 1fr;
  justify-content: center;
  align-items: center;

  .headInput{
    width: 420px;
    height: 35px;

    margin-right: 24px;
  
    border-radius: .5em;
    border: 1px solid rgb(124,129,126);

    background-color: rgb(46,51,47);
  }

  .searchBtn{
    font-weight: 500;

    font-size: 18px;
    
    color: rgb(176,192,178);
    background: linear-gradient(0deg, rgb(40,44,30) 0%, rgb(80,92,53) 100%);

    padding: 4px 6px;
    border: 2px solid rgb(79,91,53);
    border-radius: .4em;
    
  }

}